* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(../recursos/fondodemenu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.barralateral {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    background-color: #fff;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.barralateral:hover {
    width: 280px;
    transition: width 0.5s ease;
}

.barralateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.barralateral ul li {
    width: 100%;
}

.barralateral ul li a {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    color: #555353;
    text-decoration: none;
    transition: background 0.3s ease;
}

.barralateral ul li a:hover {
    background: #eee;
}

.barralateral ul li a i {
    font-size: 20px;
    width: 70px;
    text-align: center;
}

.contenido {
    text-align: center;
    margin-left: 100px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.cuadro {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.iconocuadro {
    font-size: 50px;
    margin-bottom: 15px;
}

.cuadro p {
    font-size: 16px;
    color: #333;
}

@media (max-width: 768px) {
    .barralateral {
        width: 100px;
    }

    .barralateral:hover {
        width: 200px;
    }

    .cuadro {
        width: 90%;
    }
}
